* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
    /* background-color: darksalmon; */
}

/* -------------------- CV -------------------- */
.container-cv {
    background-color: #c3a39f;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 500;
    line-height: 1.6;
    text-align: justify;
    /* word-spacing: 1px; */
}

.container-cv-content {
    background-color: white;
    width: 532px;
    margin: 0 auto;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 28px;
    padding-bottom: 28px;
}

.container-cv-content h1 {
    font-size: 13px;
    font-weight: 700;
}

.container-cv-content h2,
.container-cv-content h3 {
    font-size: 8px;
    font-weight: 700;
}

.container-cv-content p {
    font-size: 8px;
}

.container-cv-content li {
    font-size: 7px;
}

/* ul */
.container-cv-content ul {
    list-style: disc;
}

/* CONTENT */
.header-cv {
    padding-left: 100px;
    padding-right: 100px;
}

.header-cv h1 {
    padding-left: 36px;
    padding-right: 36px;
}

.title {
    padding-top: 16px;
    padding-bottom: 6px;
    border-bottom: 1px solid black;
}

.job-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 12px;
    padding-bottom: 12px;
}

.job-title-content {
    padding-left: 15px;
}
.job-title-content li {
    padding-left: 4px;
}

.education-degree {
    padding-top: 12px;
    padding-bottom: 4px;
}

.education-degree b {
    font-weight: 700;
}

/* -------------------- MENU -------------------- */
.container-menu {
    background-color: #3e5cca;
    padding: 0 56px;
    font-size: 0;
}

.container-menu li {
    display: inline-block;
}

.container-menu li a {
    display: inline-block;
    padding: 32px;
    background-color: #3e5cca;
    color: #e7edf3;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}

.container-menu .active a {
    background-color: #eeeeee;
    color: #111111;
}

/* -------------------- FORM -------------------- */
.form {
    width: 400px;
    background-color: #c3a39f;
    margin: 0 auto;
    padding: 12px 80px;
}

.form h1 {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}

.form-group .form-label {
    display: block;
    margin: 12px 0 4px;
    font-weight: 400;
}

.form-group .form-label img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 8px;
}

.form-group input {
    width: 240px;
    outline: none;
    padding: 4px 8px;
    border: 1px solid #111111;
    border-radius: 4px;
}

.form-group .form-gender input {
    width: 10px;
}

.form-references label {
    display: block;
    padding: 4px 0;
}
.form-references input {
    width: 10px;
}

#submit {
    margin-top: 8px;
    padding: 8px 4px;
    cursor: pointer;
}

/* -------------------- Menu Enhanced -------------------- */

.container-menu-enhanced {
    background-color: #3e5cca;
    padding: 0 56px;
    font-size: 0;
}

/* active */
.container-menu-enhanced:active {
    border-top: 3px solid #c3a39f;
    border-bottom: 3px solid #c3a39f;
}

.container-menu-enhanced li {
    color: #e7edf3;
    display: inline-block;
    height: 72px;
    border-left: 1px solid red;
}

.container-menu-enhanced li:last-child {
    border-right: 1px solid red;
}

.container-menu-enhanced li a {
    display: inline-block;
    padding: 28px;
    background-color: #3e5cca;
    color: #e7edf3;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
}

.container-menu-enhanced li a::before {
    content: "❤️";
}

.container-menu-enhanced li:hover,
.container-menu-enhanced li a:hover {
    background-color: #eeeeee;
    color: #111111;
}

/* -------------------- form-interactive -------------------- */

.form-interactive {
    width: 400px;
    background-color: #c3a39f;
    margin: 0 auto;
    padding: 12px 80px;
}

/* Thêm style cho container/form khi có phần tử trong form được focus */
.form-interactive:focus-within {
    border: 1px solid #111;
}

.form-interactive h1 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

.form-interactive .form-group .form-label {
    display: block;
    margin: 12px 0 4px;
    font-weight: 400;
}

.form-interactive .form-group .form-label img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 8px;
}

.form-interactive .form-group input {
    width: 240px;
    outline: none;
    padding: 4px 8px;
    border: 1px solid #111111;
    border-radius: 4px;
}

/* Xử lý để cho tất cả input đổi màu viền khi focus */
.form-interactive .form-group input:focus {
    border: 1px solid #92c5ce;
}

/* Khi nhập text vào các input, nếu có lỗi (invalid) thì đổi màu viền input sang đỏ */
.form-interactive .form-group input:invalid {
    border: 1px solid red;
}

/* Sử dụng ::after để thêm dấu sao đỏ (*) cho các trường bắt buộc */
.form-interactive .requied::after {
    content: " (*)";
}

.form-interactive .form-group .form-gender input {
    width: 10px;
}

.form-interactive .form-references label {
    display: block;
    padding: 4px 0;
}
.form-interactive .form-references input {
    width: 10px;
}

.form-interactive #submit {
    margin-top: 8px;
    padding: 8px 4px;
    opacity: 0.5;
    cursor: pointer;
}

/* Tạo hiệu ứng hover và active cho nút submit */
.form-interactive #submit:hover {
    color: violet;
    background-color: antiquewhite;
    opacity: 1;
}

.form-interactive #submit:active {
    background-color: #3e5cca;
    opacity: 1;
}
