* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
    /* background-color: darksalmon; */
}

/* -------------------- CV -------------------- */
.container-cv {
    background-color: #c3a39f;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 500;
    line-height: 1.6;
    text-align: justify;
    /* word-spacing: 1px; */
}

.container-cv-content {
    background-color: white;
    width: 532px;
    margin: 0 auto;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 28px;
    padding-bottom: 28px;
}

.container-cv-content h1 {
    font-size: 13px;
    font-weight: 700;
}

.container-cv-content h2,
.container-cv-content h3 {
    font-size: 8px;
    font-weight: 700;
}

.container-cv-content p {
    font-size: 8px;
}

.container-cv-content li {
    font-size: 7px;
}

/* ul */
.container-cv-content ul {
    list-style: disc;
}

/* CONTENT */
.header-cv {
    padding-left: 100px;
    padding-right: 100px;
}

.header-cv h1 {
    padding-left: 36px;
    padding-right: 36px;
}

.title {
    padding-top: 16px;
    padding-bottom: 6px;
    border-bottom: 1px solid black;
}

.job-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 12px;
    padding-bottom: 12px;
}

.job-title-content {
    padding-left: 15px;
}
.job-title-content li {
    padding-left: 4px;
}

.education-degree {
    padding-top: 12px;
    padding-bottom: 4px;
}

.education-degree b {
    font-weight: 700;
}
